/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: #000000;
}

.blue-link {
    text-decoration: underline;
    color: #0061ff;
} 

button {
    border: none;
    background-color: #0061ff;
    color: #ffffff;
    padding: 0.2em 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.large-container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.small-container {
    width: 70%;
    max-width: 1000px;
    margin: auto;
}

.offset {
    transform: translate(0, 18.3%);
}

.radio-check {
    vertical-align: middle;
}

.customer-type {
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
    padding: 1em;
}

.fa-li {
   width: 1em;
   left: -1.5em
}

.fa-ul {
    margin-left: 1.5em;
}

.fa-ul li {
    margin: 1.5em 0;
}

/* typo */
h1 {
    font-size: 4.2em;
    text-align: justify;
}

h2 {
    font-size: 2.3em;
    /* margin: 1.5em 0; */
}

h3 {
    font-size: 1.5em;
    margin: 1.5em 0 1em;
}

h4 {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.info-box {
    margin: 1em 0;
    font-size: 1em;
}

.bold-box {
    font-size: 1em;
    font-weight: bold;
}

/* header */
header {
    padding: 0 20px;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
}

.half-col {
    width: calc(50% - 10px);
}

.left-col {
    float: left;
}

.right-col {
    float: right;
    text-align: right;
}

header .logo {
    vertical-align: middle;
    margin-right: 10px;
}

header nav, header ul, header li {
    display: inline-block;
}

header li {
    list-style: none;
    margin: 0 10px;
    vertical-align: middle;
    line-height: 60px;
}

/* hero */
.hero {
    background-color: #b4d0e7;
    margin: 60px 0 150px;
}

.hero .large-container {
    padding: 50px 0 0;
}

.hero .left-col {
    width: calc(35% - 40px);
    margin-right: 40px;
}

.hero .right-col {
    width: 65%;
}

.hero .right-col img {
    width: 100%;
}

.hero .left-col button {
    margin: 20px 0 10px;
}

.hero .left-col .icon {
    font-size: 2em;
    margin: 20px 0;
}

/* main vertical columns */
.duration {
    margin: 3em 0 0;
}

main .vertical-col .small-container {
    margin-top: 140px;
}

main .duration label {
    margin-right: 15px;
}

.left-col.third {
    width: calc((100% - 100px) / 3);
    margin: 2em 0;
}

main .vertical-col .left-col {
    border: 1px solid #d0d0d3;
    min-height: 1100px;
}

main .left-col.middle-col {
    margin: 2em 50px;
}

main .vertical-col .col-text-box {
    margin: 2em 0;
}

main .vertical-col .info-box.grey {
    color: #6a7a87;
}

.col-text-box button {
    width: 100%;
    padding: 0.5em;
}

.col-text-box.hr {
    width: 20%;
    border-bottom: 1px solid #6a7a87;
}

.left-col .large-container .col-text-box:last-child .fa-li {
    color: #0061ff;
}

/* main customer row */
.plan-row {
    border: 1px solid #d0d0d3;
}

.plan-row .left-col {
    width: 70%;
    padding: 0 0 1em 2em;
}

.plan-row .right-col {
    width: 30%;
    text-align: left;
    padding-top: 2em;
}

/* partnership row */
.partnership {
    margin: 5em 0;
}

.partnership .left-col {
    width: 55%;
}

.partnership .left-col img {
    width: 100%;
}

.partnership .right-col {
    margin-left: 2em;
    width: calc(45% - 2em);
    text-align: left;
}

.partnership button, .free-trial button {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid black;
    margin-top: 1em;
}

/* features section */
.features {
    margin: 5em 0;
}

.features img {
    width: 100%;
}

/* team section */
.team {
    margin: 3.5em 0;
}
.team-row {
    background-color: #f5f5f5;
    margin-top: 3.5em;
}
.team-row .left-col, .team-row .right-col {
    width: 30vw;
    max-width: 500px;
    height: 30vw;
    max-height: 500px;
    background-color: lightblue;
    position: relative;
}

.team-row .middle-col {
    float: left;
    margin: 0 30px;
    width: calc(100% - (60vw + 60px));
    padding: 2em 0;
    overflow: auto;
}

.team-row .middle-col img {
    width: 25%;
}

.team-row .middle-col .hr {
    width: 15%;
    border-bottom: 1px solid #dedee0;
    margin: 2em 0;
}

.team-row .middle-col .signature {
    margin: 2em 0;
}

.team-box {
    width: 15vw;
    max-width: 250px;
    height: 15vw;
    max-height: 250px;
    position: absolute;   
}

.team-box:hover {
    border: 1vw solid #ffffff50;
}

.team-box img {
    width: calc((15vw * 60) / 100);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-right {
    left: 50%;
}

.bottom-left {
    top: 50%;
}

.bottom-right {
    top: 50%;
    left: 50%;
}

#team-1 {
    background-color: #a2d39b;
}

#team-2{
    background-color: #61082b;
}

#team-3{
    background-color: #0093ce;
}

#team-4{
    background-color: #ff1c1c;
}

#team-5{
    background-color: #d5001f;
}

#team-6{
    background-color: #b4d0e7;
}

#team-7{
    background-color: #0d2481;
}

#team-8{
    background-color: #ffd830;
}

/* free trial section */

.free-trial {
    background-color: #b4d0e7;
}

.free-trial .small-container {
    padding: 3.5em 0;
    margin-bottom: 5em; 
}

.free-trial .left-col {
    color: #61082b;
    width: calc(70% - 50px);
    margin-right: 50px;
}

.free-trial .right-col {
    width: 30%;
}

.free-trial button {
    width: 100%;
    border: none;
}

/* frequently asked questions */
.faq {
    margin: 5em auto;
}

.faq ul {
    margin: 2.5em 0;
}

.faq li{
    position: relative;
    font-weight: bold;
    padding: 2em 0;
    border-top: 1px solid #dcdcde;
    list-style-type: none;
}

.faq li:last-child {
    border-bottom: 1px solid #dcdcde;
}

.faq .right-list-icon {
    position: absolute;
    right: 0;
    transform: translate(-50%);
    padding-right: 1em;
}

/* footer */
footer, footer li a{
    background-color: black;
    color: #ffffff;
}

footer .top-row {
    padding: 5em 0;
}

footer .top-row .left-col {
    width: 20%;
}

footer .left-col li {
    list-style-type: none;
    margin: 0.5em 0;
}

footer .large-container .hr {
    border-bottom: 1px solid #ffffff;
    width: 10%;
}

.region {
    width: 15%;
    color: #999999;
    padding: 2em 0;
}