/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: #000000;
}

button {
    border: none;
    background-color: #0061ff;
    color: #ffffff;
    padding: 0.2em 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.large-container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.offset {
    transform: translate(0, 80px);
}
/* typo */
h1 {
    font-size: 4.2em;
    text-align: justify;
}

/* header */
header {
    padding: 0 20px;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
}

.half-col {
    width: calc(50% - 10px);
}

.left-col {
    float: left;
}

.right-col {
    float: right;
    text-align: right;
}

header .logo {
    vertical-align: middle;
    margin-right: 10px;
}

header nav, header ul, header li {
    display: inline-block;
}

header li {
    list-style: none;
    margin: 0 10px;
    vertical-align: middle;
    line-height: 60px;
}

/* hero */

.hero {
    background-color: #b4d0e7;
    margin-top: 60px;
}

.hero .large-container {
    padding: 50px 0 0;
}

.hero .left-col {
    width: calc(35% - 40px);
    margin-right: 40px;
}

.hero .right-col {
    width: 65%;
}

.hero .right-col img {
    width: 100%;
}

.hero .left-col button {
    margin: 20px 0 10px;
}

.hero .left-col .icon {
    font-size: 2em;
    margin: 20px 0;
}
